@model IEnumerable<WalksDTO>
@{
    ViewData["Title"] = "Home Page";
}

<img class="d-block w-100" src="/images/pexels-regions.jpg" style="height:550px" alt="" />
<hr />

<div class="row pb-3">
    @foreach (var walks in Model)
    {
        <div class="col-lg-3 col-sm-6">
            <div class="row p-2">
                <div class="col-12 p-1">
                    <div class="card-border-0 p-3 shadow border-top border-5 rounded">
                        <div class="car-header">
                            @if (walks.WalkImage != null)
                            {
                                <img src="@walks.WalkImage class="card-img-top rounded" style="height: 300px; width:100%"/>
                            }
                            else
                            {
                                <img src="https://placehold.co/500x600/png" class="card-img-top rounded" />
                            }
                        </div>
                        <div class="card-body pb-0">
                            <div class="pl-1">
                                <p class="card-title h5 text-dark opacity-75 text-uppercase text-center">@walks.Name</p>
                                <p class="card-title text-warning text-center">in <b>@walks.Region.Name</b></p>
                            </div>
                            <div class="pl-1">
                                <p class="text-dark text-opacity-75 text-center mb-0">
                                    Length:
                                    <span>
                                        @walks.LengthInKm.ToString() KM
                                    </span>
                                </p>
                            </div>
                            
                        </div>
                        <div>
                            <a asp-controller="Home" asp-action="Details"
                               asp-route-id="@walks.Id"
                               class="btn btn-primary bg-gradient border-0 form-control">
                                Details
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

